<!DOCTYPE html>
<html>
<head>
  <title>TeamSorter</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body class="bg-gray-100">
  <% if @current_player&.admin? %>
    <%= render "layouts/header" %>
    <%= render "layouts/flash" %>
    <main class="container mx-auto mt-5 px-5">
      <%= yield %>
    </main>
  <% else %>
    <%= render "layouts/flash" %>
    <%= render "layouts/registration" %>
  <% end -%>
</body>
</html>
